<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycy.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.ycy.entity.GoodsEntity">
    <id column="goods_id" jdbcType="INTEGER" property="goods_id" />
    <result column="symptom_id" jdbcType="INTEGER" property="symptom_id" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplier_id" />
    <result column="brand_id" jdbcType="INTEGER" property="brand_id" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goods_sn" />
    <result column="bar_code" jdbcType="VARCHAR" property="bar_code" />
    <result column="goods_name" jdbcType="VARCHAR" property="goods_name" />
    <result column="goods_number" jdbcType="INTEGER" property="goods_number" />
    <result column="shop_price" jdbcType="VARCHAR" property="shop_price" />
    <result column="goods_brief" jdbcType="VARCHAR" property="goods_brief" />
    <result column="goods_img" jdbcType="VARCHAR" property="goods_img" />
    <result column="common_name" jdbcType="VARCHAR" property="common_name" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="goods_attr" jdbcType="VARCHAR" property="goods_attr" />
    <result column="license_number" jdbcType="VARCHAR" property="license_number"/>
    <result column="brand_name" jdbcType="VARCHAR" property="brand_name"/>
  </resultMap>
    <sql id="GoodsEntity_Column_List">
    goods_id, symptom_id, supplier_id, brand_id,goods_sn,bar_code,goods_name,goods_number,shop_price,goods_brief,goods_img,common_name,
    manufacturer,goods_attr,license_number,brand_name
  </sql>

  <select id="getLocalGoodsByBarCode"   resultType="com.ycy.vo.GoodsVO">
    select
    g.*,symptom_name
    from noer_goods g
    left JOIN noer_symptom s on s.symptom_id=g.symptom_id
    where bar_code = #{barcode} and supplier_id = #{supplierId}
  </select>

  <select id="getOnlineGoodsByBarCode"   resultType="com.ycy.vo.GoodsVO">
    select
    g.*,symptom_name
    from noer_goods g
    left JOIN noer_symptom s on s.symptom_id=g.symptom_id
    where bar_code = #{barcode}
  </select>

  <select id="getGoodsByIdToVo"   resultType="com.ycy.vo.GoodsVO">
    select
    g.*,symptom_name
    from noer_goods g
    left JOIN noer_symptom s on s.symptom_id=g.symptom_id
    where goods_id = #{goodsId}
  </select>

  <select id="getGoodsByIdToEntity"   resultType="com.ycy.entity.GoodsEntity">
    select
    <include refid="GoodsEntity_Column_List" />
    from noer_goods
    where goods_id = #{goodsId}
  </select>



</mapper>