<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycy.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ycy.entity.UserEntity">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="district" jdbcType="VARCHAR" property="district" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="ys_id" jdbcType="INTEGER" property="ys_id" />
    </resultMap>
    <sql id="Base_Column_List">
      id,name,mobile,province,city,district,address,ys_id
    </sql>

    <select id="queryByMobile" parameterType="java.lang.String"  resultType="com.ycy.entity.UserEntity">
        select
        <include refid="Base_Column_List" />
        from noer_user
        where mobile = ${mobile}
    </select>

</mapper>